spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  config:
    import: file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
logging:
  level:
    com.mechanical_workshop_usm: debug